
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

label{
  margin-bottom:2px;
}
.form-group {
  margin-bottom: 7px;
}
.sidebar-menu .treeview-menu > li > a {
  padding: 10px 5px 10px 10px;
}
.sidebar-menu > li > a > .ion,
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,{
  font-size:17px;
}
.datepicker table tr td.disabled{
  color: #b3b3b3;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.active:hover{
  background: #605ca8;
}
// .daterangepicker .calendar-table{display:none;}
.form-control{padding:6px;}
.modal [class^="col-"]{
  padding:0px 8px;
}
.que_num{font-weight:bold;}
.action i.fa{color:black;cursor:pointer;font-size: 18px;padding-right: 5px;}
.purple{color:#605ca8!important;}
@media(max-width:400px){
  footer [class^="col-"]{
    width:100%;
  }
  footer span.pull-right{
    float:initial!important;
  }
  footer .row{
    text-align:center;
  }
}
